<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
        <link href="css/mui.min.css" rel="stylesheet" />
        <link href="css/base.css" rel="stylesheet" />
        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/jquery.i18n.properties-min-1.0.9.js"></script>
        <script src="js/zengma/i18n.js"></script>
        <script src="js/zengma/conf.js"></script>
        <script src="js/vue.min.js"></script>
        <script src="js/zengma/access.js" ></script>
        <script src="js/zengma/comm-dialog.js"></script>

	</head>

	<body>
		<div class="apptop">
			<div class="left" onclick="mui.back()"><img src="images/top-left.png"/></div>
			<div class="center">已购列表</div>
			<div class="right"></div>
		</div>
		<div class="three"></div>
		
		<div id="content">
			<div class="goods_list" v-for="order in orderList">
				<img :src="order.originCode.sellGoodsImage"/>
				<div class="txt">
					<b>{{order.originCode.goodsTitle}}</b>
					<span><strong style="color: #EC971F;">{{order.orderStatusText}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;共{{order.goodsCount}}件商品 &nbsp;&nbsp;</span>
					<div class="clear"></div>
					<div class="money">合计金额<strong>&nbsp;&nbsp;¥{{order.amount}}</strong></div>
					<div class="btn" @click="gotoOrderPay(order.id)" v-if="order.orderStatus == 'W'">支付订单</div>
					<div class="btn" @click="cancelOrder(order.id)" v-if="order.orderStatus == 'P'">取消订单</div>
					<div class="btn" @click="signExpress(order.id)" v-if="order.orderStatus == 'S'">签收</div>
					<div class="btn" @click="viewExpress(order.id)" v-if="order.viewExpress">查看快递信息</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		
		<div class="four"></div>
	</body>
	<script src="js/zengma/order_list.js"></script>

</html>