body,
html {
	background: #fff;
	font-size: 1.2rem;
	line-height: normal;
}

header {
	height: 5rem;
	background:#fff;
	display: flex;
	align-items: center;
	position: fixed;
	left: 0;
	width: 100%;
	top: 0;
	z-index: 5;
	font-size: 1.6rem;
}

header img {
	height: 4rem;
	width: 4rem;
	margin-right: 4rem;
}

.mui-preview-image.mui-fullscreen {
	position: fixed;
	z-index: 20;
	background-color: #000;
}

.mui-preview-header,
.mui-preview-footer {
	position: absolute;
	width: 100%;
	left: 0;
	z-index: 10;
}

.mui-preview-header .mui-preview-indicator {
	display: block;
	line-height: 2.5rem;
	color: #fff;
	text-align: center;
	margin: auto;
	margin-top: 2rem;
	width: 7rem;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 1.2rem;
	font-size: 1.6rem;
}

.mui-preview-image {
	display: none;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.mui-preview-image.mui-preview-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.mui-preview-image.mui-preview-out {
	background: none;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
	display: none;
}

.mui-zoom-scroller {
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-backface-visibility: hidden;
}

.mui-zoom {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.mui-slider .mui-slider-group .mui-slider-item img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
	width: 100%;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
	display: inline-table;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
	display: table-cell;
	vertical-align: middle;
}

.mui-preview-loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

.mui-preview-loading.mui-active {
	display: block;
}

.mui-preview-loading .mui-spinner-white {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	height: 50px;
	width: 50px;
}

.mui-preview-image img.mui-transitioning {
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

p img {
	max-width: 100%;
	height: auto;
}

.top_space {
	height: 5rem;
	clear: both;
}

.clear {
	clear: both;
}

.all_tips {
	background: #FFAA36;
	color: #fff;
	text-align: center;
	padding: 1rem;
}

.all_tips a {
	color: #fff;
	padding-left: 0.5rem;
}

.all_tips span {
	font-size: 1rem;
}

.all_tips img {
	display: block;
	height: 1.4rem;
	width: 1.4rem;
	margin-left: 0.5rem;
}

.content {
	height: 6.4rem;
	padding-bottom: 1.5rem;
	overflow: hidden;
}

.contentshow {
	height: auto;
}

.content .title {
	height: 6.5rem;
	border-top: 5px solid #f8f8f8;
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	width: 100%;
	color: #505050;
	background: url(../images/goodsCodedetail/arr_down.svg) right no-repeat;
	background-position-x: 36rem;
	background-size: 0.8rem 0.6rem;
}

.content .titleshow {
	background: url(../images/goodsCodedetail/arr_up.svg) right no-repeat;
	background-position-x: 36rem;
	background-size: 0.8rem 0.6rem;
}

.content .title:before {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	border-bottom: 1px solid #D8D8D8;
	transform-origin: 0 0;
	transform: scale(0.5, 0.5);
	box-sizing: border-box;
	z-index: -1;
	left: 0;
	top: 0;
}

.content .title .big {
	font-size: 1.8rem;
	margin-right: 1rem;
	height: 3rem;
	margin-left: 1rem;
	margin-top: 1.5rem;
	border-left: 5px solid #9FC426;
	padding-left: 1rem;
	line-height: 1.5rem;
}

.content .title .big span {
	font-size: 1.2rem;
	color: #989898;
}

.content .title .small {
	font-size: 1.2rem;
	color: #989898;
}

.content .title img {
	width: 1.4rem;
	height: 1.4rem;
	display: block;
	margin-left: 0.5rem;
}

.content .content_long {
	font-size: 1.4rem;
	color: #505050;
	word-break: break-all;
	clear: both;
	margin-left: 1rem;
	position: relative;
	z-index: 2;
}

.content .content_long img {
	width: 1.4rem;
	height: 1.4rem;
	position: absolute;
	right: 1rem;
	top: 1.2rem;
}

.content .content_long:before {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	border-bottom: 1px dashed #D8D8D8;
	transform-origin: 0 0;
	transform: scale(0.5, 0.5);
	box-sizing: border-box;
	z-index: 1;
	left: 0;
	top: 0;
}

.content .btn {
	position: relative;
	z-index: 2;
	line-height: 2rem;
	float: left;
	padding:0.5rem 1rem;
	margin-top: 1rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	font-size: 1.4rem;
	color: #505050;
}

.content .btn span {
	color: #9FC426;
	padding-left: 1rem;
}

.content .btn:before {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	border: 1px solid #D8D8D8;
	transform-origin: 0 0;
	transform: scale(0.5, 0.5);
	box-sizing: border-box;
	z-index: 1;
	left: 0;
	top: 0;
	border-radius: 20rem;
}

.content .content_long .left1 {
	padding: 1rem 0;
	width: 8rem;
	float: left;
	line-height: 2rem;
}

.content .content_long .right1 {
	padding: 1rem 0;
	width: 28.5rem;
	float: left;
	line-height: 2rem;
}

.content .noborder {
	border: none;
	position: relative;
}

.content .noborder:before {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	border-bottom: 1px solid #fff;
	transform-origin: 0 0;
	transform: scale(0.5, 0.5);
	box-sizing: border-box;
	z-index: 32;
	left: 0;
	top: 0;
}

.content .content_long .left2 {
	padding: 1rem 0;
	width: 15.5rem;
	float: left;
	text-align: right;
	line-height: 2rem;
}

.content .content_long .right2 {
	padding: 1rem 0;
	width: 21rem;
	float: left;
	line-height: 2rem;
}

.content .content_long span {
	color: #989898;
	font-size: 1rem;
}

.content .content_short {
	font-size: 1.4rem;
	color: #505050;
	word-break: break-all;
	clear: both;
	margin-left: 1rem;
	position: relative;
	z-index: 2;
}

.content .content_short:before {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	border-bottom: 1px dashed #D8D8D8;
	transform-origin: 0 0;
	transform: scale(0.5, 0.5);
	box-sizing: border-box;
	z-index: 1;
	left: 0;
	top: 0;
}

.content .content_short .left {
	padding: 1rem 0;
	width: 8rem;
	float: left;
	text-align: right;
	line-height: 2rem;
}

.content .content_short .right {
	padding: 1rem 0;
	width: 8.5rem;
	float: left;
	line-height: 2rem;
}

.bottom_space {
	height: 5rem;
	clear: both;
}

.all_bottom {
	height: 4rem;
	width: 100%;
	background: #f8f8f8;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	color: #505050;
	font-size: 1rem;
	line-height: 1.2rem;
}

.all_bottom img {
	width: 2.4rem;
	height: 2.4rem;
	margin-right: 0.5rem;
}

.all_bottom:before {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	border-top: 1px solid #d1d1d1;
	transform-origin: 0 0;
	transform: scale(0.5, 0.5);
	box-sizing: border-box;
	z-index: 1;
	left: 0;
	top: 0;
}

.all_bottom .btn {
	width: 18.75rem;
	float: left;
	height: 2.4rem;
	margin-top: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
}

.all_bottom .btn1 {
	width: 18.75rem;
	float: left;
	height: 2.4rem;
	position: relative;
	z-index: 4;
	margin-top: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.all_bottom .btn1:before {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	border-left: 1px solid #d1d1d1;
	transform-origin: 0 0;
	transform: scale(0.5, 0.5);
	box-sizing: border-box;
	z-index: 3;
	left: 0;
	top: 0;
}

.from {
	background: #f2f2f2;
	color: #989898;
	font-size: 1.2rem;
	padding: 0.5rem 1rem;
	position: relative;
}

.from:before {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	border-bottom: 1px solid #D8D8D8;
	transform-origin: 0 0;
	transform: scale(0.5, 0.5);
	box-sizing: border-box;
	z-index: 1;
	left: 0;
	top: 0;
}

.from a {
	color: #FFAA36;
	padding-left: 0.5rem;
}

.content_long .eng {
	color: #505050;
	font-size: 1.2rem;
	padding-bottom: 1rem;
	padding-right: 1.5rem;
}

.content_long .eng b {
	color: #505050;
}

.content_long .chn {
	color: #505050;
	font-size: 1.4rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
	padding-right: 1.5rem;
}

.content_long .chn b {
	color: #505050;
}

.content_long .chn span,
.content_long .eng span {
	color: #989898;
	font-size: 1.2rem;
}

.chneng {
	padding: 1rem 0;
}

.chneng span {
	font-size: 1.2rem;
	font-weight: bold;
}

.black {
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
}

.tan_pic {
	width: 28rem;
	background: #fff;
	position: fixed;
	top: 10rem;
	z-index: 11;
	margin-left: 4.75rem;
	border-radius: 0.8rem;
	text-align: center;
	font-size: 1.4rem;
	padding-bottom: 2rem;
}

.tan_pic .close {
	position: absolute;
	right: 1rem;
	top: 0.5rem;
	color: red;
	font-size: 2rem;
}

.tan_pic img {
	display: block;
	width: 75%;
	margin: auto;
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
}

.eng p,
.chn p {
	color: #505050;
	font-size: 1.4rem;
	padding: 0;
	margin: 0;
	padding-top: 0.5rem;
}

.tan_txt {
	position: absolute;
	left: 4rem;
	top: 10rem;
	right: 4rem;
	bottom: 10rem;
	background: #fff;
	border-radius: 0.8rem;
	padding: 1.5rem;
}

.tan_txt .close {
	position: absolute;
	right: 1rem;
	top: 0.5rem;
	color: red;
	font-size: 2rem;
}

.tan_txt .title {
	font-size: 1.6rem;
}

.tan_txt .title1 {
	font-size: 1.6rem;
	margin-bottom: 1rem;
}

.tan_txt .title1 span {
	color: #989898;
	font-size: 1.4rem;
	display: block;
	line-height: 1.6rem;
}

.tan_txt .title span {
	color: #989898;
	font-size: 1.5rem;
}

.tan_txt .title2 {
	font-size: 1.4rem;
}

.tan_txt .title3 {
	margin: 0.5rem 0 1rem 0;
	font-size: 1.6rem;
	font-weight: bold;
}

.tan_auto {
	bottom: auto;
}

.tan_txt .title2 span {
	color: #989898;
	font-size: 1.2rem;
	display: block;
	line-height: 1.6rem;
}

.tan_txt .txt {
	font-size: 1.4rem;
	text-align: justify;
	position: absolute;
	left: 0rem;
	right: 0rem;
	padding: 0 1.5rem;
	top: 4.5rem;
	bottom: 2rem;
	overflow-y: scroll;
	color: #505050;
}

.tan_txt .txt span {
	padding-top: 1rem;
	display: block;
}

.tan_txt .line {
	font-size: 1.4rem;
	text-align: justify;
	position: absolute;
	left: 0rem;
	right: 0rem;
	top: 4.5rem;
	bottom: 2rem;
	overflow-y: scroll;
	color: #505050;
	line-height: 1.8rem;
}

.tan_txt .line .line_in {
	padding: 1rem 0;
	margin: 0 1.5rem;
	border-bottom: 1px solid #f1f1f1;
}

.tan_txt .line span {
	display: block;
}

.pic_change {
	width: 100%;
	height: 37.5rem;
}

.pic_change img {
	width: 37.5rem;
	height: 37.5rem;
	opacity: 0;
}

.none {
	text-align: center;
}

.none img {
	display: block;
	margin: auto;
	width: 20rem;
	margin-top: 5rem;
}

.none span {
	display: block;
	margin: auto;
	margin-top: 1rem;
	font-size: 1.6rem;
	color: #505050;
}

.none button {
	display: block;
	margin: auto;
	width: 20rem;
	margin-top:5rem;
	font-size: 1.4rem;
	color: #fff;
	background: #9FC426;
	border: none;
	border-radius:0.8rem ;
}

.goods_pic img{ width: 100%; display: block;}

.goods_txt{ background:#a1c137 ; color: #fff; padding: 0.8rem 1.5rem;line-height:1.6rem;}

.black .tan {
	background: #fff;
	z-index: 11;
	position: fixed;
	border-radius: 0.3rem;
	width: 16rem;
	left: 4.5rem;
	top: 8rem;
	font-size: 0.9rem;
}

.black .tan .title {
	text-align: center;
	margin-top: 0.5rem;
}

.black .tan .content {
	height:auto;
	backgroud:none;
	padding: 0.9rem;
	word-break: break-all;
	position: relative;
	text-align: center;
}

.black .tan .content:before {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	border-bottom: 1px solid #dbdbdb;
	transform-origin: 0 0;
	transform: scale(0.5, 0.5);
	box-sizing: border-box;
	z-index: -1;
	left: 0;
	top: 0;
}

.black .tan .action {
	height: 2rem;
	color: #505050;
}

.black .tan .action .btn2 {
	float: left;
	width: 50%;
	line-height: 2rem;
	text-align: center;
}

.black .tan .action .right_line {
	position: relative;
}

.black .tan .action .right_line:before {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	border-right: 1px solid #dbdbdb;
	transform-origin: 0 0;
	transform: scale(0.5, 0.5);
	box-sizing: border-box;
	z-index: -1;
	left: 0;
	top: 0;
}

.black .tan .action .orange {
	color: #ff8000;
}

.black .tan .action .gray {
	color: #989898;
}

.black .tan .action .btn1 {
	float: left;
	width: 100%;
	line-height: 2rem;
	text-align: center;
}

.tan_txt .txt button{display: block;
	margin: auto;
	width: 20rem;
	margin-top:2rem;
	font-size: 1.4rem;
	color: #fff;
	background: #9FC426;
	border: none;
	border-radius:0.8rem ;
}
.goods_txt table{ width: 100%;}
.goods_txt td{ padding: 0.5rem 0; border-bottom:1px solid #adcf3a ;}
.goods_txt span{  display: block; font-size: 1.5rem;}
.goods_txt font{  font-size: 1.5rem;}

.goods_txt .line {
	margin-bottom: 0.5rem;
}
.goods_txt .line:last-child{
	margin-bottom: 0px;
}

.goods_txt .line .txt1 {
	float: left;
	line-height: 1.3rem;
	margin-right: 1rem;
	display: flex;
	align-items: center;
}

.goods_txt .line .txt2 {
	float: left;
	line-height: 1.3rem;
	display: flex;
	align-items: center;
}

.apx{ height: 0.1rem;position: relative; margin-bottom: 0.5rem;}
.apx:before {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	border-bottom: 1px solid #adcf3a;
	transform-origin: 0 0;
	transform: scale(0.5, 0.5);
	box-sizing: border-box;
	z-index: 2;
	left: 0;
	top: 0;
}
.quyu{margin-bottom: 0.5rem;}


/*  ÐÂ  */
.yellow {
	font-weight: bold;
	color: #edff93;
	font-size: 1.2rem;
}

.yellow font {
	font-size: 1.8rem;
}

.yellow span {
	font-size: 1.8rem;
}

.goods_txt {
	background: #fff;
	color: #fff;
	padding: 0;
	line-height: 1.6rem;
}

.goods_txt table {
	background: #a1c137;
	padding: 0 1rem;
}

.goods_txt table td {
	padding-left: 1rem;
}

.white {
	background: #fff;
	padding: 0;
}

.line_big {
	position: relative;
	z-index: 3;
	color: #fff;
	font-size: 1.6rem;
	font-weight: bold;
	color: #edff93;
}
.line_big:before {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	border-bottom: 1px solid #edff93;
	transform-origin: 0 0;
	transform: scale(0.5, 0.5);
	box-sizing: border-box;
	z-index: -1;
	left: 0;
	top: 0;
	background: #a1c137;
}

.line_big .left {
	padding: 1rem;
	min-width: 14rem;
	line-height: 1.6rem;
	float: left;
	min-height: 5.2rem;
}

.line_big .left span {
	font-size: 1.2rem;
}

.line_big .right {
	float: left;
	display: flex;
	align-items: center;
	min-height: 5.2rem;
}
.line_big .point{
	float: right;
	align-items: center;
	min-height: 5.2rem;
	position: relative;
	z-index: 3;
	text-align: center;
	line-height: 5.2rem;
	font-size: 1.2rem;
	width: 3rem;
	text-align: center;
}



.line_green {
	position: relative;
	background: #a1c137;
	color: #fff;
	font-size: 1.4rem;	color: #fff;
}
.line_green:before {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	border-bottom: 1px solid #edff93;
	transform-origin: 0 0;
	transform: scale(0.5, 0.5);
	box-sizing: border-box;
	z-index: 2;
	left: 0;
	top: 0;
}

.line_green .left {
	padding: 1rem;
	min-width: 14rem;
	line-height: 1.6rem;
	float: left;
	min-height: 5.2rem;
}

.line_green .left span {
	font-size: 1.2rem;
}

.line_green .right {
	float: left;
	display: flex;
	align-items: center;
	min-height: 5.2rem;
}


.line_white {
	position: relative;
	background: #fff;
	font-size: 1.4rem;	
	color: #505050;
}
.line_white:before {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	border-bottom: 1px solid #a1c137;
	transform-origin: 0 0;
	transform: scale(0.5, 0.5);
	box-sizing: border-box;
	z-index: 2;
	left: 0;
	top: 0;
}

.line_white .title {
	padding: 1rem 1rem 0.5rem 1rem ;
	min-width: 14rem;
	line-height: 1.6rem;
	word-break: break-all;
	
}
.line_white .title span {
	color: #989898;
	padding-left: 0.5rem;
	
}

.line_white .content {
	padding: 1rem;
	padding-top: 0;
	overflow: auto;
	height: auto;
}
.line_green .more{ float: left; width: 23rem; padding: 1rem 0;  font-size: 1.2rem;}


.line_green .more .line {
	margin-bottom: 0.5rem;
}

.line_green .more  .line:last-child {
	margin-bottom: 0px;
}

.line_green .more  .line .txt1 {
	float: left;
	line-height: 1.3rem;
	margin-right: 1rem;
	display: flex;
	align-items: center;
}

.line_green .more .line .txt2 {
	float: left;
	line-height: 1.3rem;
	display: flex;
	align-items: center;
}
